{% extends 'base.html.twig' %}

{% block title %}EventParis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Engagement de Confidentialité</h1>

    <p>Chez EventParis, nous nous engageons à protéger et à respecter votre vie privée. Cette politique de confidentialité décrit les informations que nous collectons, comment nous les utilisons et comment nous les protégeons.</p>

    <h2>Collecte et Utilisation des Informations</h2>
    <p>Nous collectons des informations personnelles vous concernant lorsque vous utilisez notre site web, nos services ou que vous interagissez avec nous. Ces informations peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, vos informations de paiement, vos préférences de communication et d'autres informations que vous nous fournissez volontairement.</p>
    <p>Nous utilisons ces informations pour vous fournir nos services, pour communiquer avec vous, pour traiter vos commandes, pour personnaliser votre expérience utilisateur, pour améliorer nos produits et services, pour vous envoyer des informations marketing et promotionnelles, et pour d'autres fins légitimes.</p>

    <h2>Protection des Informations</h2>
    <p>Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction. Nous limitons l'accès à vos informations personnelles aux employés et aux prestataires de services qui ont besoin d'y accéder pour fournir nos services.</p>

    <h2>Partage d'Informations</h2>
    <p>Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers à des fins de marketing sans votre consentement exprès. Nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à fournir nos services, à effectuer des transactions, à répondre à vos demandes, à améliorer nos produits et services, ou à d'autres fins commerciales légitimes.</p>

    <h2>Cookies</h2>
    <p>Nous utilisons des cookies sur notre site web pour améliorer votre expérience utilisateur. Pour en savoir plus sur notre utilisation des cookies, veuillez consulter notre <a href="../utilisations/cookies">politique de cookies</a>.</p>

    <h2>Modification de la Politique de Confidentialité</h2>
    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de la dernière mise à jour. Nous vous encourageons à consulter régulièrement cette page pour rester informé de nos pratiques en matière de confidentialité.</p>

    <p>Cette politique de confidentialité a été mise à jour pour la dernière fois le 13/03/2024.</p>
</body>
</div>
{% endblock %}
