<h1>Salut ! Confirmez votre email !</h1>

<p>
    Merci de confirmer votre email: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bien à vous !
</p>
