{% extends 'base.html.twig' %}

{% block title %}EventParis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Ventes et Remboursements</h1>

    <h2>Conditions de Vente</h2>
    <p>Les produits et services proposés à la vente sur ce site sont soumis aux conditions générales de vente suivantes :</p>
    <ul>
        <li>Tous les prix sont indiqués en euros et sont TTC (Toutes Taxes Comprises).</li>
        <li>Les paiements peuvent être effectués par carte bancaire, virement bancaire ou tout autre moyen de paiement accepté par EventParis SAS.</li>
        <li>Les produits et services seront livrés ou fournis dans les délais indiqués sur le site au moment de la commande.</li>
        <li>EventParis SAS se réserve le droit de refuser toute commande en cas de problème de paiement, de disponibilité des produits ou pour toute autre raison jugée nécessaire.</li>
    </ul>

    <h2>Politique de Remboursement</h2>
    <p>EventParis SAS s'engage à rembourser intégralement tout produit ou service qui ne correspond pas à la description donnée sur le site ou qui est défectueux. Les demandes de remboursement doivent être adressées par email à l'adresse suivante : contact@eventparis.com .</p>
    <p>Les remboursements seront effectués dans un délai de 5 jours à compter de la réception de la demande, sous réserve de vérification et d'approbation par EventParis .</p>

    <h2>Annulation et Modification des Commandes</h2>
    <p>Les annulations ou modifications de commande peuvent être effectuées dans les 7 jours jours suivant la date de la commande. Passé ce délai, les annulations ou modifications ne seront plus possibles.</p>
    <p>Pour annuler ou modifier une commande, veuillez contacter notre service clientèle par email à l'adresse suivante : contact@eventparis.com .</p>

    <h2>Service Clientèle</h2>
    <p>Pour toute question concernant les ventes, les remboursements ou toute autre demande, veuillez contacter notre service clientèle par email à l'adresse suivante : contact@eventparis.com. Nous nous efforcerons de répondre à votre demande dans les meilleurs délais.</p>

    <p>Ces conditions de ventes et remboursements sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
</div>
{% endblock %}
