{% extends 'base.html.twig' %}

{% block title %}EventParis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
      <h1><strong>Qui Sommes-Nous ?</strong></h1>
    <p>
        <i>EventParis</i> est une entreprise fondée en 2021, déterminée à créer des expériences inoubliables, même au cours des périodes les plus difficiles comme celle du COVID-19. Conscients des défis posés par cette crise sanitaire, nous avons décidé d'innover et d'apporter de la joie à travers la création d'événements à Paris et dans ses environs.
    </p>
    <p>
        Notre mission est de rassembler les gens, de favoriser les rencontres et de cultiver de nouvelles amitiés au sein de notre communauté. Nous croyons fermement que même dans les moments les plus sombres, il est possible de créer des moments de bonheur et de connexion humaine.
    </p>
    <p>
        Avec cette vision en tête, nous avons développé une plateforme qui propose une variété d'événements uniques, allant des rencontres culturelles aux aventures culinaires en passant par les activités sportives et de plein air. Notre objectif est de proposer des expériences qui captivent l'imagination, éveillent les sens et laissent des souvenirs durables.
    </p>
    <p>
        En travaillant avec des partenaires locaux et des experts dans divers domaines, nous veillons à ce que chaque événement soit soigneusement conçu pour offrir une expérience authentique et enrichissante. Que ce soit une visite guidée insolite, un atelier de cuisine avec un chef renommé ou une soirée sous les étoiles à découvrir la beauté de Paris, nous avons quelque chose pour tous les goûts et toutes les passions.
    </p>
    <p>
        Nous sommes fiers d'annoncer que nous avons récemment établi un partenariat excitant avec Elon Musk pour offrir des expériences exclusives aux touristes visitant la région. Grâce à cette collaboration, nous offrons aux voyageurs une opportunité unique de découvrir Paris sous un angle nouveau et passionnant, tout en contribuant à promouvoir le tourisme durable et responsable.
    </p>
    <p>
        Chez <i>EventParis</i>, nous croyons fermement au pouvoir des expériences partagées pour enrichir nos vies et renforcer nos liens avec les autres. Rejoignez-nous dans cette aventure et laissez-nous vous emmener dans un voyage inoubliable à travers la magie de Paris et au-delà.
    </p>
    <p>
        Bienvenue dans notre communauté,<br>
        L'équipe d'<i>EventParis</i> vous salue !
    </p>
</div>
{% endblock %}
