{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mentions Légales</h1>

    <h2>Informations sur l'entreprise</h2>
    <p>Nom de l'entreprise : EventParis </p>
    <p>Forme juridique : Société par Actions Simplifiée (SAS)</p>
    <p>Adresse : 15 rue du Boulevard, 16ème arrondissement, Paris</p>
    <p>Email : contact@eventparis.com</p>

    <h2>Hébergement du site</h2>
    <p>Ce site est hébergé par EventParis, dont le siège social est situé à 35 rue de l'alée, 75016, Paris. Vous pouvez les contacter par email à l'adresse suivante : contact@eventparis.com .</p>

    <h2>Propriété intellectuelle</h2>
    <p>Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont la propriété exclusive de EventParis SAS et sont protégés par le droit de la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation totale ou partielle de ces contenus est strictement interdite sans l'autorisation préalable de EventParis SAS.</p>
    <p>Les marques, logos et éléments graphiques présents sur ce site sont la propriété de leurs détenteurs respectifs.</p>

    <h2>Données personnelles</h2>
    <p>Les informations collectées sur ce site sont utilisées uniquement dans le cadre de la relation commerciale avec nos clients. Conformément à la législation en vigueur, vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Pour exercer ce droit, veuillez nous contacter à l'adresse email suivante : contact@eventparis.com.</p>
    <p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation des cookies conformément à notre politique de confidentialité.</p>

    <h2>Responsabilité</h2>
    <p>EventParis SAS s'efforce de fournir des informations exactes et à jour sur ce site, mais ne peut garantir l'exactitude et l'exhaustivité de ces informations. En conséquence, EventParis SAS décline toute responsabilité quant à l'utilisation qui pourrait être faite des informations fournies sur ce site.</p>
    <p>EventParis SAS se réserve le droit de modifier, à tout moment et sans préavis, le contenu de ce site.</p>

    <p>Ces mentions légales sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>

</div>
{% endblock %}
